*{
    margin:0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
    box-sizing: border-box;
    
}
header{
    display: flex;
    background-color:#f5f5f6;
    height:80px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #696e79;
}
.logo{
    height:42px;
}
.logo_container{
    margin-left:4%;
    padding-right: 4%;;
}
.action_bar{
    margin-right:5%;
}
.Navigation_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.Navigation_bar a {
    font-size: 14px;
    letter-spacing: 0.3px;
    color:#282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom:1px solid  #ffffff;
}
.Navigation_bar a:hover {
    border-bottom:1px solid  #ff3f6c;
}

.action_bar{
    display: flex;
}
.action_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-left: 2px;
}
.banner_container{
    margin: 40px 0;
}
.banner_img{
    width: 40%;
    height: 30%;
}
.article_heading h1{
    text-transform: uppercase;
    color:#3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin:50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.article{
    color:#131520;
    letter-spacing:0.15em;
    font-size:1em;
    padding-left:5px;
    font-weight:700;
}
.item{
    width:250px;
}
.footer_container{
    padding: 30px 0 40px 0;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_colunm{
    display: flex;
    flex-direction: column;
}
.footer_colunm a{
    color:#696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.font_column h3{
    color:#282c3f;
    font-size: 14px;
    margin-bottom:15px;
}
.copyright{
    color:#94969f;
    text-align: end;
    padding: 15px;
}