html{
    min-height: 100vh; 
}

body{
    height: 100%;
}

div {
    border: 1px solid rgb(255, 255, 255);
}


#outer{

    background-color: #fff8ed;
}

#h1{
    font-family: 'Playfair Display';
    font-size:15rem;
}

#inner {

   
    margin-left: 16rem;
    border: 5px solid white;
    background-color: #B73E3E;
    border: 5px solid rgb(255, 255, 255);
    width: 1005px;
    height: 100rem;
    margin: 0 auto;
    border-radius: 32px;
    
}
#messageBoard {
    margin-top: 20px;
    text-align: left;
  }
  

  /* Add this CSS to remove the white border */
#messageBoard div {
    border: none;
}

#sp{

    color: #930202;
    font-size: 2.8rem;
    
    text-align: center;
    align-items: center;
}

h1 {
    padding: 2.5rem;
    color: azure;
    font-family: 'poppins-bold', sans-serif !important;
    font-size: 6rem;

    line-height: 0.333;
    margin-top: 1.6rem;
    color: #FFFFFF;
    text-align: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-family: 'Playfair Display SC';


}

#h2heading {
    margin: 0 auto;


}

#btn {
    height: 3rem;
    width: 33.33rem;
    background-color: #B73E3E;
    color: white;
    border-radius: 10px;
    margin: 2rem;
    padding: 8px;
    display: flexbox;
}

#btn:hover {
    transform: scale(1.1);
    transition: 1.2s;
    background-color: azure;
    color:  #B73E3E;
    border-radius: 12px;
    margin-right: 0.9px;
   

}
#h3i{


    padding: 1.6rem;
}


img {
    display: cover;
}

#hr123{
    width: 80%;
    margin-top: 10rem;
}

#inner1 {

    height: 80rem;
    width: 600px;
    margin-left: 12.5rem;
    border: 5px solid white;
    background-color: #eddbc07c;
    border-radius: 24px;
}

#hr1{
    width: 550px;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);


}
h4{

    color: rgba(255, 235, 205);
}
#h3i {

    border: 0px;
    margin: 1rem;
}

h2 {

    padding: 1.5rem;
    color: azure;

}

hr {

    width: 550px;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
}

h2 {


    margin-left: 7rem;
    padding: 1.5rem;
}

#pay {
    height: 100px;
    width: 50%;

    background-color: rgb(215, 231, 192);
}


h3 {

    margin-top: px;
    margin-top: 2rem;
    color: azure;

}

a {

    text-decoration: none;
    font-size: larger;
    border: 1px solid rgb(126, 119, 119);
    border-radius: 10px;


}

a:hover {
    font-size: 2.2rem;
    transform: scale(2);
}


input{

    height: 35px;
    width: 90%;
    border-radius: 24px;
    margin-left: 1.5rem;
    border: 5px solid white;



}


P {

    color: aliceblue;
    padding: 3rem;
}

#inner1 {}

#h2heading {
    margin-right: auto;
}

.container {
    max-width: 500px;
  
    padding: 20px;
    text-align: justify;
  }
  
  input[type="text"] {

    height: 3rem;
  
    border-radius: 10px;
    margin: 2.5rem;
    padding: 8px;
   border-radius: 32px;
   border:2px solid #B73E3E;



    
    height: 35px;
    width:80%;
    border-radius: 24px;
    margin-left: rem;
   align-items: center;

 
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 10px;
    
    color: azure;
    background-color:  #ffffff;
    border: none;
    cursor: pointer;
    border: #2ec9b7;
    border-radius: 32px;
    margin-top: 1rem;
    transition-duration: 1.2s;
  }
  
  button:hover {
    background-color: rgb(255, 251, 240);
    color:  #fffbfb;
  
    border-radius: 32px;
    transform: scale(1.4)
    

    
  }
  
  #messageBoard {
    margin-top: 20px;
    text-align: left;
  }
  
  .container{
    border: 0px;
    margin-left: 1.5rem;

    background-color:none;
  }

#btn1{
    height: 3rem;
    width: 26rem;
    background-color: #B73E3E;
    color: white;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 8px;
   border-radius: 32px;
   background-color: white;
    color:#930202;
    transition-duration: 0.5s;
    border: 5px solid #930202;



}


#btn1:hover{

    height: 3rem;
    width: 25rem;
    background-color: white;
    color:#930202;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 8px;
   border-radius: 32px;

}
